<div class='city_hero_image home_page_image'></div>
<div class='home_atlanta_link_container'><%= link_to "Atlanta", '/cities/atlanta', class: "home_atlanta_link" %></div>
<div class='home_atlanta_link_container'><%= link_to "San Francisco", '/cities/san-francisco', class: "home_atlanta_link" %></div>
<div class='home_atlanta_link_container'><%= link_to "London", '/cities/london', class: "home_atlanta_link" %></div>
<div class='home_atlanta_link_container'><%= link_to "+", '/cities/new', class: "home_atlanta_link" %></div>
