<div class='city_hero_image home_page_image'></div>

<div class='home_city_link_container'>
  <% @cities.each do |city| %>
    <%= link_to city.name, "/cities/#{city.slug}", class: "home_city_link" %>
  <% end %>
  <a href="/cities/new" class="btn-floating waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>
