<div class='city_hero_image home_page_image'></div>

<% @cities.each do |city| %>
  <div class='home_atlanta_link_container'><%= link_to city.name, "/cities/#{city.slug}", class: "home_atlanta_link" %></div>
<% end %>
<div class='home_atlanta_link_container'><%= link_to "+", '/cities/new', class: "home_atlanta_link" %></div>
